<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %} <link rel="stylesheet" href="{% static 'guestbook_sign_in/localstyles.css' %}">
        <script src="{% static 'guestbook_sign_in/jquery-3.7.1.slim.min.js' %}"></script>
        <script src="{% static 'guestbook_sign_in/localjs.js' %}"></script>                
        <title>Autorización de Apoderado (Español)</title>
    </head>
    <body>
        <div class="tile-container vertical">
            <h4>División de Distribución de Alimentos del Departamento de Agricultura y Servicios</h4>
            <h4>al Consumidor de Carolina del Norte</h4>
            <h4>LA AUTORIZACIÓN PARA UN REPRESENTANTE DEL PROGRAMA DE ASISTENCIA ALIMENTARIA DE EMERGENCIA (TEFAP)</h4>
            <div class="form-container">
                {{ form.media }}
                <form action="" method="post">
                {% csrf_token %}
                    <div class="table-container">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nombre del banco de alimentos/despensa de alimentos/centro de distribución:</th>
                                    <td>Carolina Care Pantry</td>
                                </tr>
                                <tr>
                                    <th>¿El participante recibe beneficios de FNS?</th>
                                    <td>{{ form.fns }}</td>
                                </tr>
                                <tr>
                                    <th>Ingreso bruto mensual del hogar: $</th>
                                    <td>{{ form.monthly_income }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <div class="full-width">
                            <h4>Autorizo a la siguiente persona(s) a recoger alimentos por mí en este centro de distribución del TEFAP:</h4>
                        </div>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Nombre completo del representante:</th>
                                    <td>**Representante Autorizado 1 de la hoja anterior**</td>
                                </tr>
                                <tr>
                                    <th>Nombre completo del representante:</th>
                                    <td>**Representante Autorizado 2 de la hoja anterior**</td>
                                </tr>
                                <tr>
                                    <th>Firma del participante:</th>
                                    <td>{{ form.proxy_signature }}</td>
                                </tr>
                                <tr>
                                    <th>Fecha:</th>
                                    <td>{{ today }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit">Submit</button>
                </form>

            </div>
            <p>*EL PERÍODO DE AUTORIZACIÓN DEL REPRESENTANTE ES VÁLIDO DEL 1 DE OCTUBRE AL 30 DE SEPTIEMBRE Y DEBE RENOVARSE ANUALMENTE CON LAS PAUTAS 
                ACTUALIZADAS DE ELEGIBILIDAD DE INGRESOS*</p>
            <p>Los participantes del TEFAP pueden actualizar su información o cambiar su(s) representante/representantes designados en cualquier momento 
                durante el año.</p>
            <p>De acuerdo con la ley federal de derechos civiles y las reglamentaciones y políticas de derechos civiles del Departamento de Agricultura de 
                los EE. UU. (USDA), esta institución tiene prohibido discriminar por motivos de raza, color, nacionalidad, sexo (incluida la identidad de 
                género y orientación sexual), discapacidad, edad o represalias por actividades previas de derechos civiles.</p>
            <p>La información del programa puede estar disponible en otros idiomas que no sean inglés. Las personas con discapacidades que requieran medios 
                alternativos de comunicación para obtener información del programa (p. ej., Braille, letra grande, cinta de audio, lenguaje de señas 
                estadounidense) deben comunicarse con la agencia estatal o local responsable que administra el programa o el Centro TARGET del USDA al 
                (202) 720-2600 (voz y TTY) o comunicarse con el USDA a través del Servicio Federal de Retransmisión al (800) 877-8339.</p>
            <p>Para presentar una queja por discriminación en el programa, un reclamante debe completar un Formulario AD-3027, Formulario de queja por 
                discriminación en el programa del USDA, que puede obtenerse en línea en: 
                <u>https://www.usda.gov/sites/default/files/documents/USDA-OASCR%20P-Complaint-Form-0508-0002-508-11-28-17Fax2Mail.pdf</u>, desde cualquier oficina 
                del USDA, llamando al (866) 632-9992 o escribiendo una carta dirigida al USDA. La carta debe contener el nombre, la dirección, el número de 
                teléfono del reclamante y una descripción escrita de la presunta acción discriminatoria con suficiente detalle para informar al subsecretario 
                de Derechos Civiles (Assistant Secretary for Civil Rights, ASCR) sobre la naturaleza y la fecha de una presunta violación de los derechos 
                civiles. El formulario AD-3027 completado o la carta deben enviarse al USDA por correo postal:</p>
            <p>(1) Correo: Departamento de Agricultura de los EE. UU., Oficina del Subsecretario de Derechos Civiles, 1400 Independence Avenue, SW, Washington, 
                D.C. 20250-9410;</p>
            <p>(2) Fax: (833) 256-1665 o (202) 690-7442</p>
            <p>(3) Correo electrónico: program.intake@usda.gov</p>
            <p>Esta institución es un proveedor que ofrece igualdad de oportunidades.</p>
            <p>07 TEFAP Proxy Authorization Form March 2022.Docx 22 de marzo</p>
        </div>
    </body>
</html>